*.swp
*.swo
build/
prof/
bin/test_*
*.pyc
main
profile
measure
gmon.out
callgrind.*.*
datasets/DARPA/
datasets/NUST/
datasets/CAIDA/
datasets/USC-ISI/
datasets/Zipfian/zipfian
datasets/Zipfian/*.dat
datasets/Zipfian/weighted
datasets/Zipfian/*.dat
