*.swp
*.swo
build/
prof/
bin/test_*
*.pyc
precision_hh
precision_sketch
profile
measure_hh
measure_sketch
gmon.out
callgrind.*.*
datasets/DARPA/
datasets/NUST/
datasets/CAIDA/
datasets/USC-ISI/
datasets/Zipfian/zipfian
datasets/Zipfian/*.dat
datasets/Zipfian/weighted
datasets/Zipfian/*.dat
results
